.env
Discord-LLM-Bot.code-workspace
temp\
test\
.venv
.csv
notes.txt
__pycache__
events.log
# For Fly.io hosting
Dockerfile
fly_commands.txt
.dockerignore
# Temp block
admin_commands.py
cogs\admin_commands.py